@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import "utilities/variables";
@import "base/reset";
@import "base/base";

@keyframes floatRotate {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
}

header {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 25px 0;
	z-index: 1;
	background-color: transparent;
	transition: 0.125s background-color ease-in-out;
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo {
			font-size: 2.25em;
			text-align: center;
			text-decoration: none;
			font-weight: 700;
			color: $primary;
			text-transform: uppercase;
			letter-spacing: 4px;
			line-height: 2rem;
			span {
				display: block;
				font-size: 1.15rem;
				letter-spacing: 2px;
			}
		}
		nav ul {
			display: flex;
			gap: 25px;
			li a {
				font-size: 1.25em;
				font-weight: 700;
				transition: 0.25s color ease-in-out;
				&:hover {
					color: $primary;
				}
				&.active {
					color: $primary;
				}
			}
		}
	}
	&.active {
		background-color: rgba($black, 0.95);
	}
}

.hero {
	padding: 250px 0;
	.hero-content {
		display: flex;
		justify-content: space-between;
		gap: 5%;
		&-info {
			display: flex;
			flex-direction: column;
			gap: 45px;
			align-content: flex-start;
			flex: 0 0 45%;
			&-me p {
				font-size: 1.65em;
			}
			&-ctas {
				display: flex;
				gap: 15px;
			}
		}
		&-icons {
			display: flex;
			justify-content: center;
			position: relative;
			flex: 0 0 45%;
			svg {
				font-size: 4.5em;
				display: inline-block;
				animation: floatRotate 5s ease-in-out infinite;
				position: absolute;
				&.fa-html5 {
					color: #e54c21;
					top: -100px;
					animation-delay: 200ms;
				}
				&.fa-css3-alt {
					color: #214ce5;
					top: 0;
					right: 0;
					animation-delay: 250ms;
				}
				&.fa-square-js {
					color: #f7df1e;
					bottom: -20px;
					right: 10px;
					animation-delay: 300ms;
				}
				&.fa-laptop-code {
					top: 50%;
					left: 50%;
					margin-top: -11%;
					margin-left: -11%;
					font-size: 6.5em;
					color: $white;
				}
				&.fa-react {
					color: #61dafb;
					bottom: -100px;
					animation-delay: 350ms;
				}
				&.fa-node {
					color: #339933;
					bottom: -20px;
					left: 10px;
					animation-delay: 400ms;
				}
				&.fa-php {
					color: #484c89;
					left: 0;
					top: 10px;
					animation-delay: 500ms;
				}
			}
		}
	}
}

.about-me {
	.about-me-content {
		display: flex;
		flex-direction: column;
		gap: 35px;
		justify-content: space-between;
		&-info {
			display: flex;
			gap: 35px;
			justify-content: space-between;
			&-bio {
				width: 60%;
			}
			&-details {
				ul {
					display: flex;
					color: $primary-text;
					flex-direction: column;
					gap: 15px;
					font-size: 1.45rem;
					font-weight: 700;
					padding: 0;
					margin: 0;
					li {
						svg {
							color: $secondary;
							padding-right: 15px;
							font-size: 1.125em;
						}
						a {
							color: $primary-text;
							text-decoration: underline;
							svg {
								color: $secondary;
							}
						}
					}
				}
			}
		}
	}
}

.projects {
	.projects-content {
		display: flex;
		flex-direction: column;
		gap: 35px;
		&-cards {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 1.75em;
		}
	}
}

.continuous-learning {
	.learning-content {
		display: flex;
		flex-direction: column;
		gap: 35px;
		&-progress {
			display: flex;
			justify-content: space-between;
			&-cards,
			&-projects {
				flex: 0 1 48%;
			}
			&-cards {
				.card-tall {
					display: none;
				}
				.card-wide {
					display: block;
					img {
						width: 100%;
					}
				}
			}
			&-projects {
				display: flex;
				flex-direction: column;
				gap: 15px;
				padding: 15px 25px;
				border-radius: 5px;
				background-color: $cards;
				&-links {
					display: flex;
					flex-direction: column;
					gap: 10px;
					a {
						font-size: 1.15em;
						color: $white;
						transition: 0.25s color ease-in-out;
						align-self: flex-start;
						flex-grow: 0;
						&:hover {
							color: $secondary;
						}
						svg {
							color: $secondary;
							margin-right: 5px;
						}
					}
				}
			}
		}
	}
}

.contact {
	.contact-content {
		display: flex;
		flex-direction: column;
		gap: 30px;
		&-links {
			display: flex;
			flex-direction: column;
			gap: 10px;
			a {
				font-size: 1.175em;
				transition: 0.25s color ease-in-out;
				align-self: flex-start;
				flex-grow: 0;
				&:hover {
					color: $secondary;
				}
				svg {
					color: $secondary;
					margin-right: 5px;
				}
			}
		}
	}
}

footer {
	background-color: $black;
	padding: 25px 0;
	text-align: center;
	p {
		color: $white;
		margin: 0;
	}
}

@media screen and (max-width: 1025px) {
	header {
		padding: 20px 0;
		.container .logo {
			font-size: 2.1em;
			span {
				font-size: 1.1rem;
			}
		}
	}
	nav {
		display: none;
	}
	.hero {
		padding: 150px 0;
		.hero-content {
			flex-direction: column-reverse;
			gap: 35px;
			&-info {
				flex: 0 0 auto;
				gap: 35px;
			}
			&-icons {
				flex: 0 0 auto;
				justify-content: flex-start;
				align-items: center;
				gap: 25px;
				svg {
					position: static;
					margin: 0;
					font-size: 2em;
					animation: none;
					&.fa-laptop-code {
						margin: 0;
						font-size: 2.75em;
					}
				}
			}
		}
	}
	.about-me .about-me-content .about-me-content-info {
		&-bio {
			width: 50%;
		}
		&-details ul {
			font-size: 1.25em;
		}
	}
	.projects .projects-content {
		&-cards {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@media screen and (max-width: 770px) {
	header {
		padding: 15px 0;
		.container .logo {
			font-size: 1.75em;
			letter-spacing: 4px;
			span {
				font-size: 1rem;
			}
		}
	}
	.hero {
		padding: 155px 0 100px 0;
		.hero-content {
			gap: 25px;
			&-info {
				&-ctas {
					flex-direction: column;
				}
				&-me p {
					font-size: 1.35em;
				}
			}
			&-icons {
				justify-content: space-between;
				gap: normal;
				svg {
					font-size: 1.65em;
					&.fa-laptop-code {
						font-size: 2.15em;
					}
				}
			}
		}
	}
	.about-me .about-me-content .about-me-content-info {
		flex-direction: column;
		&-bio {
			width: 100%;
		}
		&-info ul {
			font-size: 1.175em;
		}
	}
	.projects .projects-content {
		&-cards {
			grid-template-columns: repeat(1, 1fr);
		}
	}
	.continuous-learning .learning-content {
		.card-tall {
			display: block;
		}
		.card-wide {
			display: none;
		}
		&-progress {
			flex-direction: column;
			gap: 25px;
			&-cards,
			&-projects {
				flex: 1 1 auto;
			}
			&-cards a img {
				width: 80%;
				margin: 0 auto;
			}
			&-projects-links a {
				font-size: 1em;
			}
		}
	}
}
