$primary: #663399;
$secondary: #2aa198;
$accent: #8854d0;
$complementary1: #ff5a5f;
$complementary2: #aa88cc;
$background: #1a1a1a;
$black: #121212;
$cards: #282828;
$white: #fafafa;
$primary-text: #e0e0e0;
$secondary-text: #b3b3b3;
$gray: #282828;
