// Base styles for html elements and containers

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: $black;
  line-height: normal;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.25rem;
  margin-bottom: 5px;
  color: $secondary;
}

h3 {
  font-size: 1.125em;
  margin: 10px 0;
  font-weight: 500;
}

p {
  margin: 10px 0;
  font-size: 1.75rem;
}

a {
  color: $white;
  text-decoration: underline;
}

footer a {
  color: $black;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  height: inherit;
}
