// Base styles for html elements and containers

body {
	font-family: "Oxygen", Arial, Helvetica, sans-serif;
	color: $primary-text;
	font-size: 16px;
	line-height: normal;
}

h1 {
	font-size: 3rem;
	color: $white;
	margin-bottom: 10px;
	span {
		color: $secondary;
	}
}

h2 {
	font-size: 2.15rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
	&:after {
		content: "";
		background-color: $accent;
		display: block;
		height: 5px;
		margin: 2px 0 0 -2px;
		width: 55px;
	}
}

h3 {
	color: $accent;
	font-size: 1.75rem;
	margin-bottom: 10px;
	font-weight: 700;
}

p {
	margin-bottom: 25px;
	font-size: 1.2rem;
	color: $primary-text;
	line-height: 1.5;
}

a {
	color: $primary-text;
	text-decoration: none;
}

.cta {
	background-color: $primary;
	padding: 15px 10px;
	font-weight: 700;
	min-width: 175px;
	display: inline-block;
	text-align: center;
	color: $white;
	transition: all 0.25s linear;
	&:hover {
		background-color: $accent;
		color: $white;
	}
}

section {
	background-color: $black;
	padding: 60px 0;
	&:nth-of-type(even) {
		background-color: $background;
	}
}

.card {
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: $cards;
	padding: 30px;
	border-radius: 5px;
	&-links {
		display: flex;
		gap: 10px;
		&-link {
			background-color: $black;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 45px;
			width: 45px;
			border-radius: 50%;
			svg {
				font-size: 1.25em;
				color: $secondary;
			}
		}
	}
}

.container {
	width: 90%;
	max-width: 1400px;
	margin: 0 auto;
	position: relative;
	height: inherit;
}

ul {
	list-style-type: none;
}

@media screen and (max-width: 1025px) {
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 1.95rem;
	}
	h3 {
		font-size: 1.55rem;
	}
	p {
		font-size: 1.1rem;
	}
}

@media screen and (max-width: 770px) {
	h1 {
		font-size: 2.25rem;
	}
	h2 {
		font-size: 1.75rem;
	}
	h3 {
		font-size: 1.35rem;
	}
	p {
		font-size: 1rem;
	}
}
